@import '/src/styles/helpers/_mixins.scss';
.trending {
  padding: 0 32rem 30rem 32rem;
  &-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 16rem;
    gap: 24rem;
    @include mobile {
      grid-template-columns: 1fr;
      place-items: center;
    }
  }
  &-item {
    transition: 0.3s all ease-in-out;
    cursor: pointer;
    width: 100%;
  }
  .active {
    opacity: 1;
    transform: scale(1.03);
  }
  .inactive {
    opacity: 0.3;
  }
}
