@import "/src/styles/helpers/_mixins.scss";
.watch {
  display: flex;
  align-items: center;
  gap: 16rem;

  &-btn {
    font-weight: 500;
    font-size: 16rem;
    line-height: 125%;
    color: var(--white);
    padding: 17rem 24rem;
    background: var(--purple);
    border-radius: 14rem;
    @include mobile {
      padding: 10rem 17rem;
      border-radius: 9rem;
    }
  }

  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54rem;
    height: 54rem;
    border-radius: 14rem;
    padding: 15rem;
    background: var(--bg-icon);
    backdrop-filter: blur(5.92593px);
    @include mobile {
      width: 40rem;
      height: 40rem;
      padding: 8rem;
      border-radius: 9rem;
    }
  }
  &-icon path {
    stroke: var(--purple);
  }
}
