@import "/src/styles/helpers/_mixins.scss";
.continue-watching {
  margin-top: 24rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24rem;
  position: relative;
  @include mobile {
    grid-template-columns: 1fr;
  }
  &-img {
    max-height: 208rem;
    height: 100%;
    width: 100%;
    border: 1px solid var(--gray);
    border-radius: 20rem;
    cursor: pointer;
    @include mobile {
      max-height: 145rem;
      height: 100%;

    }
  }
}
