@import "/src/styles/helpers/_mixins.scss";
html {
  font-size: 1px;

  @include mobile {
    font-size: 0.8px;
  }
}

html,
body,
#root {
  height: 100%;
}

body {
  font-size: 16rem;
  font-family: "Poppins", sans-serif;
  background: var(--dark);
  color: var(--white);
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
  width: 100%;
}

.ml-auto {
  margin-left: auto;
}

.icon {
  cursor: pointer;
}

.title {
  font-weight: 600;
  font-size: 20rem;
  @include mobile {
    text-align: center;
  }
}

.page {
  padding-left: 274rem;
  @include mobile {
    padding-left: 0;
    padding-top: 55rem;
  }
}